<!-- Theme Chooser -->
<div class="dt-customizer-toggle">
  <a href="javascript:void(0)" data-toggle="customizer"> <i class="icon icon-customizer animation-customizer"></i> </a>
</div>
<!-- /theme chooser -->

<!-- Customizer Sidebar -->
<aside class="dt-customizer dt-drawer position-right ps-custom-scrollbar">
  <div class="dt-customizer__inner">

    <!-- Customizer Header -->
    <div class="dt-customizer__header">

      <!-- Customizer Title -->
      <div class="dt-customizer__title">
        <h2 class="mb-0">Theme Settings</h2>
      </div>
      <!-- /customizer title -->

      <!-- Close Button -->
      <button type="button" class="close" data-toggle="customizer">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- /close button -->

    </div>
    <!-- /customizer header -->

    <!-- Customizer Body -->
    <div class="dt-customizer__body">

      <!-- Section -->
      <section>
        <h4 class="font-weight-medium">Fixed Style</h4>

        <!-- List -->
        <ul class="dt-list">

          <!-- List Item -->
          <li class="dt-list__item d-none d-lg-flex">
            <h5>Fixed sidebar</h5>

            <!-- Switch Button -->
            <label class="switch switch-sm"> <input type="checkbox" id="toggle-fixed-sidebar">
              <span class="slider"></span> </label>
            <!-- /switch button -->
          </li>
          <!-- /list item -->

          <!-- List Item -->
          <li class="dt-list__item">
            <h5>Fixed header</h5>

            <!-- Switch Button -->
            <label class="switch switch-sm"> <input type="checkbox" id="toggle-fixed-header">
              <span class="slider"></span> </label>
            <!-- /switch button -->
          </li>
          <!-- /list item -->
        </ul>
        <!-- /list -->
      </section>
      <!-- /section -->

      <!-- Section -->
      <section class="d-none d-lg-block" id="sidebar-layout">
        <h4 class="font-weight-medium">Sidebar Layout</h4>

        <!-- Button Group -->
        <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
          <label class="btn btn-outline-primary"><input type="radio" name="sidebar-layout" id="sl-option1" value="folded">Folded</label>
          <label class="btn btn-outline-primary"><input type="radio" name="sidebar-layout" id="sl-option2" value="default">Default
          </label>
          <label class="btn btn-outline-primary"><input type="radio" name="sidebar-layout" id="sl-option3" value="drawer">Drawer</label>
        </div>
        <!-- /button group -->

      </section>
      <!-- /section -->

    </div>
    <!-- /customizer body -->

  </div>
</aside>
<!-- /customizer sidebar -->